## ide config files
## visual studio

## jetbrain
algorithm/algorithm_java/target/*
algorithm/algorithm_java/.idea/*
*.iml

## maven
algorithm/algorithm_java/.settings/*
*.classpath
*.factorypath
*.project
